/* first for IE 4–8 */
@font-face {font-family: DINWeb-CondBold;src: url("fonts/27DFB3_2_0.eot");}
/* then for WOFF-capable browsers */
@font-face {font-family: DINWeb-CondBold;src: url("fonts/27DFB3_2_0.woff") format("woff");}


@font-face {font-family: 'TradeGothicLTCom-Cn18Obl';src: url('fonts/27DFB3_2_0.eot');src: url('fonts/27DFB3_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/27DFB3_2_0.woff') format('woff'),url('fonts/27DFB3_2_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-BdCn20';src: url('fonts/27DFB3_3_0.eot');src: url('fonts/27DFB3_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/27DFB3_3_0.woff') format('woff'),url('fonts/27DFB3_3_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT-CondEighteen';src: url('fonts/27DFB3_8_0.eot');src: url('fonts/27DFB3_8_0.eot?#iefix') format('embedded-opentype'),url('fonts/27DFB3_8_0.woff') format('woff'),url('fonts/27DFB3_8_0.ttf') format('truetype');}
